/**
  |============================
  | Main styles file
  |============================
*/

/* Common styles */
@import 'modern-normalize';
@import url('./base.css');
@import url('./container.css');

/* Components */
@import url('./header.css');
@import url('./hero.css');
@import url('./filters.css');
@import url('./exercises.css');
@import url('./quote.css');
@import url('./modal.css');
@import url('./pagination.css');
@import url('./footer.css');
